<div class="section">
    <div class="container">
        <div id="blankHeight" style="height:200px;"></div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="form-group">
                    <button type="submit" class="btn btn-default" ng-click="VoteReset()">Vote Reset </button>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="form-group">
                    <button type="submit" class="btn btn-default" ng-click="FDReset()">Clear FD Registration  </button>
                </div>
            </div>
            <div class="col-lg-43 col-md-6">
                <div class="form-group">
                    <button type="submit" class="btn btn-default" ng-click="EnableDisableVoting()" ng-model="Enable"> {{ButtonText}}</button>
                </div>
            </div>
        </div>
        <hr />

        <div class="row">
            <button type="submit" class="btn btn-default" ng-click="showvotingcount()">Show Voting Count</button>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <form>
                    <div class="form-group">
                        <label for="email">Select Participate Name(eg-: Name-UXXXXX) :</label>                        
                        <Select type="text" ng-model="selectemp" required class="form-control" id="selectpart">
                            <option ng-repeat="emp in newEmployees" value="{{emp.UID}}" ng-if="emp.fullname">{{emp.fullname}}/{{emp.voteCounter}}</option>
                        </Select>
                    </div>
                    <div class="form-group">
                        <label for="email">Kindly Enter +/-:</label>
                        <input type="text" ng-model="votecount" ng-value="votecount" required class="form-control" id="percentage">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default" ng-click="UpdateRecord()"> Update Voting</button>
                    </div>
                </form>
            </div>

        </div>

        <!--<div class="row">
            <div class="col-lg-4 col-md-6">
                <form>
                    <div class="form-group">
                        <label for="email">Kindly Enter Valid UID(eg-: UXXXXX) :</label>
                        <input type="text" ng-model="userEmailId" ng-value="userEmailId" required class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default" ng-click="AddUser()" ng-model="Enable"> Add User</button>
                    </div>
                </form>
            </div>
            
        </div>-->
    </div>

</div>
