
<style>
    div.winner {
        font-size: 70px;
        color: white;
        margin-top: 40px;
    }




    div.center {
        text-align: center;
        margin-top: 100px;
        background-color: #c01a23;
        height: 400px;
    }

    .btn {
        width: 300px;
        height: 50px;
        font-size: 24px;
        color: blue;
    }


    .headerluck {
        color: white;
        font-size: 30px;
        background-color: #949598;
        font-family: sans-serif;
    }
</style>
<script src="/js/jquery-3.1.1.js"></script>
<!-- Our CSS stylesheet file -->

<div style="height:70px"></div>

<div>

    <div class="center">
        <div class="headerluck">Lucky Draw Winner</div>

        <div id="display" class="winner">
        </div>


    </div>

    <div style="height:10px"></div>

</div>
<div id="buttondisplay" align="center" style="margin-bottom:10px;">
    <input type="button" id="random" class="btn" value="Select Winner !" />
</div>

<!-- Include Firebase Library -->
<script src="https://cdn.firebase.com/js/client/2.2.3/firebase.js"></script>
<script src="/js/jquery.shuffleLetters.js"></script>
<script src="/js/EmployeeMaster.js"></script>
<script src="../js/jquery.min.js"></script>
<script type="text/javascript">

    var masterStudents = null;
    //create firebase reference
    // var dbRef = new Firebase("https://ustdb.firebaseio.com/fdRegisteredUsers");
    //var dbRef= new Firebase("https://ustdb.firebaseio.com/userRegistration");
    var studentstemp;
    // var students = [];
    var studentlocal = [];
    var studentEx = [];
    var students = [];

    $.ajax({
        url: 'https://pacserver.herokuapp.com/getRegisterationDetails',
        success: function (data) {

            //console.log("data", data)
            students = data.registerInfo;
        }
    })

    // Attach an asynchronous callback to read the data at our posts reference

    //dbRef.on("value", function (snapshot) {
    //    studentstemp = JSON.parse(JSON.stringify(snapshot.val()));
    //    Object.keys(studentstemp).forEach(function (key) {
    //        var value = studentstemp[key];
    //        students.push(value);

    //    });
    //}, function (errorObject) {
    //    console.log("The read failed: " + errorObject.code);
    //});


    var audio = new Audio('/media/running1.mp3');
    var audioselected = new Audio('/media/winning1.mp3');

    var $display = $("#display");
    var letters = $("#tagline").children();
    var selectedAns = 0;
    var winnerseries = 0;
    $('#random').click(function () {
        winnerseries = winnerseries + 1;
        //alert(winnerseries)
        audio.play();
        audioselected.pause();
        document.clear();
        var isselected = 0;

        var total = "";
        if (winnerseries == 1 || winnerseries == 2 || winnerseries == 5) {
            studentlocal = $.grep(students, function (e) {
                return e.National == 'Local';
            });
            total = studentlocal.length;
        }
        else {

            studentEx = $.grep(students, function (e) {
                return e.National != 'Local';
            });
            total = studentEx.length;
        }

        ////console.log(studentstemp);
        selected = Math.floor(Math.random() * total),
        i = 0;
        //console.log("selected", selected);
        //console.log("students", students);
        // improvement: use a for loop instead of a for..in


        ///For local winner------

        if (winnerseries == 1 || winnerseries == 2 || winnerseries == 5) {
            for (i = 0; i < total; i++) {
                setTimeout((function (i) {
                    return function () {
                        var result = "";
                        result = $.grep(masterStudents, function (e) {
                            return e.UID == studentlocal[i].UID
                        });
                        if (result.length > 0) {
                            $display.text(result[0].username.toUpperCase() + ' (' + students[i].UID.toUpperCase() + ')');
                            if (i === selected) {
                                if (winnerseries == 1 || 2 || 5) {
                                    $display.text(result[0].username.toUpperCase() + ' (' + studentlocal[i].UID.toUpperCase() + ')');
                                }


                                $display.addClass("winner");
                                //$display.shuffleLetters();

                                isselected = 1;
                                setTimeout(function () { audio.pause(); audioselected.play(); studentlocal.splice(i, 1); }, 7000);
                            }


                            //$display.text(students[i].userName.toUpperCase()+' ('+students[i].userId.toUpperCase()+')');
                        }
                    };
                }(i)), i * 100);
                if (isselected === 1)
                    break;
                // improvement: triple equal sign, always !
                if (i === selected) {
                    // code here will execute immediately
                    break;
                }
            }
        }

        else {
            console.log("studentEx", studentEx)
            total = studentEx.length;
            for (i = 0; i < total; i++) {
                
                setTimeout((function (i) {
                    return function () {
                        // code here will be delayed
                        var result = "";
                        //var newmasterStudents = $.grep(masterStudents, function (e) {
                        //    return e.National != 'Local';
                        //});
                        result = $.grep(masterStudents, function (e) {
                            return e.UID == studentEx[i].UID
                        });

                        if (result.length > 0) {
                            console.log("result", result)
                            $display.text(result[0].username.toUpperCase() + ' (' + students[i].UID.toUpperCase() + ')');
                            if (i === selected) {
                                $display.text(result[0].username.toUpperCase() + ' (' + studentEx[i].UID.toUpperCase() + ')');

                                $display.addClass("winner");
                                // $display.shuffleLetters();

                                isselected = 1;
                                setTimeout(function () { audio.pause(); audioselected.play(); studentEx.splice(i, 1); }, 7000);
                            }


                            //$display.text(students[i].userName.toUpperCase()+' ('+students[i].userId.toUpperCase()+')');
                        }
                    };
                }(i)), i * 100);
                if (isselected === 1)
                    break;
                // improvement: triple equal sign, always !
                if (i === selected) {
                    // code here will execute immediately
                    break;
                }
            }
        }

        //for (i = 0; i < total; i++) {
        //    console.log("for", i);
        //    setTimeout((function (i) {
        //        return function () {
        //            // code here will be delayed
        //            var result = "";
        //            if (winnerseries == 1 || 2 || 5) {
        //                var newmasterStudents = $.grep(masterStudents, function (e) {
        //                    return e.National == 'Local';
        //                });
        //                result = $.grep(newmasterStudents, function (e) {

        //                    return e.UID == studentnew[i].UID
        //                });
        //            }
        //            else {
        //                result = $.grep(masterStudents, function (e) {

        //                    return e.UID == students[i].UID
        //                });
        //            }

        //            if (result.length > 0) {
        //                $display.text(result[0].username.toUpperCase() + ' (' + students[i].UID.toUpperCase() + ')' + ' (' + students[i].National + ')');
        //                if (i === selected) {
        //                    if (winnerseries == 1 || 2 || 5) {
        //                        $display.text(result[0].username.toUpperCase() + ' (' + studentnew[i].UID.toUpperCase() + ')' + ' (' + studentnew[i].National + ')');
        //                    }
        //                    else {
        //                        $display.text(result[0].username.toUpperCase() + ' (' + students[i].UID.toUpperCase() + ')' + ' (' + students[i].National + ')');
        //                    }

        //                    $display.addClass("winner");
        //                    $display.shuffleLetters();

        //                    isselected = 1;
        //                    setTimeout(function () { audio.pause(); audioselected.play(); students.splice(i, 1); }, 7000);
        //                }


        //                //$display.text(students[i].userName.toUpperCase()+' ('+students[i].userId.toUpperCase()+')');
        //            }
        //        };
        //    }(i)), i * 100);
        //    if (isselected === 1)
        //        break;
        //    // improvement: triple equal sign, always !
        //    if (i === selected) {
        //        // code here will execute immediately
        //        break;
        //    }
        //}

    });






</script>
